services:
  postgres:
    image: postgres:14-alpine
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=blogverse
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data
